
<div class="page-wrapper">
	<div class="container-fluid">
		<app-breadcrumbs breadTitle="Profiles"></app-breadcrumbs>
		

		<div class="row">

		    <div class="col-lg-12">
		        <div class="card">
		            <div class="card-block">
		                <button type="button" routerLink="/add_profile" class="btn btn-primary pull-right"><i class="fa fa-user"></i> Add New Profile</button>
		                <h4 class="card-title">Search Profiles</h4>
		              	
		              	<div class="row">
		              		<div class="col-lg-3">
			              		<div class="form-group pull-right">
			              			<label>Search</label>
			              			<input type="text" class="form-control" name="">
			              		</div>
			              	</div>
		              	</div>
		              	<div class="row el-element-overlay">

		                    <div class="col-lg-3 col-md-6" *ngFor="let person of persons">
		                        <div class="card">
		                            <div class="el-card-item">
		                                <div class="el-card-avatar el-overlay-1"> <img [src]="getThumbnail(person)" alt="user" />
		                                 
		                                </div>
		                                <div class="el-card-content">
		                                	<h3 class="box-title text-center">{{person.first_name | uppercase}} {{person.last_name | uppercase}}</h3>
			                                <div class="">
			                                	<small>Gender: {{person.gender || '-'}}</small><br/>
			                                    <small>Civil Status: {{person.civil_status || '-'}}</small><br/>
			                                    <small>Age: {{person.age || '-'}}</small>
			                                </div>
		                                    <br/> 

		                                    <div class="col-12 text-center">
		                                		<button class="btn btn-primary btn-sm">View Profile</button>
		                                	</div>
		                                	
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>


	</div>
</div>


